body
    font-family: Inter
    font-style: normal
.header-name
    font-weight: bold
    font-size: 24px
    line-height: 29px

.online
    font-weight: bold
    font-size: 14px
    line-height: 17px
    color: #FFFFFF

.promo 
    font-weight: bold
    font-size: 14px
    line-height: 17px
    color: #FFFFFF

.caret, .gift
    color: #FFF
    margin-right: 5px

.navbar a:hover
    text-decoration: none


.nav-one
    width: 550px
    display: flex
    justify-content: space-around
    align-items: center
   

.fa-user-circle, .fa-bookmark
    color: white
    font-size: 24px
    padding: 0 15px

.search
    position: relative

.btn
    position: absolute
    right: 8px
    border: none

.btn-outline-success
    color: black
    background: white

.btn-outline-success:hover
    color: #898989

.btn-outline-success:active
    border: none
    color: #898989


.acount
    display: flex
    justify-content: space-around

.nav-menu
    margin-top: 30px

.ul-nav
    margin: revert
    list-style-type: none
    display: flex
    
.nav-li
    margin: 0 15px

.name-block 
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 29px
    color: #000000

.nav-li
    font-family: Archivo
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 15px
    letter-spacing: 1px
    color: #898989

.title-rubrik
    font-family: Archivo
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 15px
    letter-spacing: 1px
    color: #898989
    margin-right: 14px

.fa-align-left
    color: #898989
    font-size: 14px

.main-news
    position: relative
    width: 580px
    height: 350px
    background: url("img/main-news.png") no-repeat

.bgr
    width: 580px
    filter: brightness(80%)

.title-news
    position: absolute
    font-family: Merriweather
    font-style: normal
    font-weight: bold
    font-size: 26px
    line-height: 33px
    text-align: center
    color: black
   
    